/* === CONTENU PRINCIPAL === */

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* === PHOTOS ARTISTES === */
img {
    width: 720px;
    height: 320px;
    cursor: pointer;
}


@media (max-width: 960px) {

    h1 {
        font-size: 3em;
    }

    img {
        width: 380px;
        height: 170px;
    }

}

@media (max-width: 600px) {

    h1 {
        font-size: 2.5em;
    }

    img {
        width: 480px;
        height: 170px;
    }
}