h1 {
	width: 100%;
	text-align: center;
	margin: 100px 0;
}

main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.artistes-photos {
	position: relative;
	width: 640px;
	height: 320px;
	overflow: hidden;
	cursor: pointer;
}

.artistes-photos img {
	width: 100%;
	height: 100%;

	object-fit: cover;
	position: absolute;

	transition: filter 0.25s ease-in-out;
}

.artistes-photos:hover img {
	filter: brightness(0.4) blur(3px);
}

.nom {
	position: relative;
	z-index: 10;
	font-size: 2rem;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	pointer-events: none;
}

.artistes-photos:hover .nom {
	opacity: 1;
	pointer-events: auto;
}

.nom {
	color: white;
	font-size: 2rem;
	text-align: center;
	z-index: 10;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	position: relative;
	pointer-events: none;
}

a {
	color: white;
	text-decoration: none;
}

