img {
    width: 360px;
    height: 360px;
    object-fit: cover;
    cursor: pointer;
}

/* === CONTENU PRINCIPAL === */

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* === LIENS === */
a {
    color: white;
    text-decoration: none;
}


@media (max-width: 960px) {

    h1 {
        font-size: 3em;
    }

    img {
        width: 220px;
        height: 220px;
    }

    .nom {
        font-size: 1.2em;
    }
}

@media (max-width: 600px) {

    h1 {
        font-size: 2.5em;
    }

    img {
        width: 480px;
        height: 170px;
    }
}