@use '../base/variables' as v;

.inscription-titre {
	display: none;
}

.icon-connexion {
	display: block;
}

.connexion-champs-nom:focus {
	border: 1px solid v.$bleu-nuit;
}

@media (max-width: 700px) {
	.icon-connexion {
		display: none;
	}

	.inscription-titre {
		display: block;
		text-align: center;
	}
}