// Main Colors
$bleu: #3c93fe;
$bleu-nuit: #131f63;
$rouge-sang: #8c0101;
$rouge: #d64546;
$rouge-clair: #fc686a;
$blanc: #fff;
$noir: #000;

// Secondary Colors
$beige: #ffdfc1;
$jaune: #ffb411;
$gris: #555555;
$gris-fonce: #1a1a1a;
